<html>
  <head> 
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
  </head>
<body class="bg-black h-full text-white">
  <form method='POST' action='/folders'>
    <div>
      <label>Create Folder</label>
      <input name='folderName' type='text' placeholder="folder name"/>
    </div>
    <button type="submit">Create</button>
  </form>
  <% if(folders && folders.length > 0) { %>
    <% folders.forEach((folder)=>{ %>
      <div id='<%= folder.id %>' class="flex items-center align-items gap-4"  >
        <p><%=folder.name %></p>
        <p><%=folder.createdAt%></p>
        <button class="border border-white">Delete</button>
      </div>
    <% }) %>
  <% } %>
</body>
</html>
