<html>
  <body >
  <form action="/login" method="POST" >
    <div >
      <label for="email">email</label>
      <input required id="email" name="email" placeholder="email" type="text" />
    </div>
    <div >
      <label for="password">Password</label>
      <input required id="password" name="password" type="password" />
    </div>
    <% if (message) { %>
      <p ><%= message %></p>
    <% } %>
    <button type="submit">Log In</button>
  </form>
</body>
</html>
