<html>
  <body >
  <form action="/login" method="POST" >
    <div >
      <label for="userName">Username:</label>
      <input required id="userName" name="userName" placeholder="userName" type="text" />
    </div>
    <div >
      <label for="password">Password:</label>
      <input required id="password" name="password" type="password" />
    </div>
    <% if (message) { %>
      <p ><%= message %></p>
    <% } %>
    <button type="submit">Log In</button>
    <p>New User?<a href='/signup'>Signup</a></p>
  </form>
</body>
</html>
