<html>
  <body>
    <form method="POST" action="/register">
    <div>
      <label>UserName:</label>
      <input required name="userName" />
    </div>
    <div>
      <label>Email:</label>
      <input required name="email"/>
    </div>
    <div>
      <label>Passowrd:</label>
      <input required name="passowrd" />
    <div>
      <label>Confirm Passowrd:</label>
      <input required name="confirmPassword" />
    </div>
    </form>
  </body>
</html>
